@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

/* Basic Reset */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
/* Navbar Styling */
.navbar {
    background-color: #2B1BDA; 
    display: flex;
    max-width:100%;
    padding: 10px 30px;
    justify-content : left;
    align-items : center;
    height : 130px;
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-placeholder {
    width: 110px; 
    height: 110px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border: 2px solid white;
    position: relative;
    left: -10px;
    overflow: hidden; 
}
.logo-placeholder img{
    width: 110px;
    height: 110px;
}
/* Navigation Links Styling */
.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    margin-left: 500px;
}

.nav-links li a {
    color: #F1E9E2;
    text-decoration: underline; 
    font-size: 25px;
    font-family: "Francois One", sans-serif;
    font-weight: lighter; 
    text-transform: capitalize;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #2B1BDA;
    background-color: #F1E9E2;
}

/* Section principale */
.content-section {
    display: flex;
    max-width: 1280px; 
    background-color: #F1E9E2; 
}

/* Conteneur de l'image */
.image-container {
    flex: 2;
    max-width: 60%;
    border-right: 1px solid #c9c9c9;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover img{
     transform: scale(1.1);
}
/* Conteneur du texte */
.text-container {
    flex: 1; 
    max-width: 40%;
    padding: 40px; 
    margin-top: 50px;
}

/* Style du titre */
.title {
    color: #2B1BDA; 
    font-size: 34px;
    font-weight: lighter;
    font-family: "Francois One", sans-serif;
    margin-top: 0;
    line-height: 1.2;
}

/* Style de la description */
.description {
    color:black;
    font-size: 20px;
    line-height: 1.6;
}

/*  Section de Sélection  */
.selection-accueil {
    padding: 20px 0;
    text-align: center;
}
/* Titre de la Section */
.entete-titre {
    background-color: #F1E9E2; 
    padding: 35px 25px; 
    position: relative; 
    text-align: center; 
}
.titre-selection {
    color: #2B1BDA;   
    font-size: 2.5em; 
    font-weight: lighter;
    margin: 0;
    font-family: "Francois One", sans-serif;
}

/*Conteneur des Cartes */
.cartes-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    padding: 0px 20px;
    max-width: 1200px; 
    margin: 0 auto;
    margin-top: 60px;
}
/* Style de la Carte Individuelle */
.carte {
    flex: 0 1 calc(33.33% - 20px); 
    max-width: 300px; 
    height: 440px;
    background-color: #F1E9E2; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
}
/* Conteneur d'Image et Image */
.image-placeholder {
    width: 100%;
    position: relative;
    padding-top: 120%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.image-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-bottom: 1px solid #ddd; 
    transition: transform 0.3s ease;
}
.image-placeholder:hover img {
    transform: scale(1.1);
}

/* Infos sous l'Image */
.info {
    padding: 15px;
    padding-bottom: 25px;
}
.titre {
    font-size: 1.2em;
    color: #000;
    margin: 0 0 5px 0;
    font-family: "Francois One", sans-serif;
}
.description {
    font-size: 1em;
    color: #666;
    margin-top: 12px;
}
.selection-artistes {
    padding: 20px 0;
    text-align: center;
}
/*  section actualités */
.section-actualites {
    padding: 40px 20px;
    background-color: #ffffff; 
}
.actualites-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style de la Carte d'Actualité */
.carte-actu {
     flex: 0 1 calc(33.33% - 20px); 
    max-width: 300px; 
    height: 440px;
    background-color: #F1E9E2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
}
.carte-actu:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.image-wrapper {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.image-actu {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
}
.contenu-actu {
    padding: 15px 20px 25px;
    display: flex;
    flex-direction: column;
}

.titre-actu {
    font-size: 1.15em;
    color: #333;
    font-family: "Francois One", sans-serif;
    margin: 0 0 10px 0;
}

.resume {
    font-size: 0.95em;
    color: #555;
    line-height: 1.4;
    flex-grow: 1; 
    margin-bottom: 15px;
}
.lire-suite {
    font-size: 0.9em;
    color: #000; 
    text-decoration: none; 
    font-weight: 500;
    margin-top: auto; 
    display: block; 
    padding-top: 5px;
}
.lire-suite:hover {
    text-decoration: underline;
}
/* Footer */
.section-contact-newsletter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F1E9E2; 
    padding: 40px 50px; 
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}

/* Colonne 1 : Contact Info */
.contact-info {
    flex-basis: 40%;
    text-align: left;
    line-height: 1.5;
}

.titre-atelier {
    color: #2B1BDA;
    font-size: 35px;
    font-family: "Francois One", sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}
.contact-info p {
    font-size: 25px;
    margin: 5px 0;

}
.adresse, .telephone, .email, .horaires {
    color: #333; 
}
/* Colonne 2 : Newsletter */
.newsletter-form-container {
    flex-basis: 40%;
}
.titre-newsletter {
    font-size: 30px;
    color: #000;
    font-family: "Francois One", sans-serif;
    margin-top: 0;
    margin-bottom: 25px;
}

/* Formulaire --- */
.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-size: 0.7em;
    font-weight: normal;
    color: #555;
    margin-bottom: 3px;
}

.form-group input {
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    padding: 5px 0;
    outline: none;
    font-size: 1em;
}
.btn-inscription {
    width: 100px; 
    padding: 5px 10px;
    margin-top: 10px; 
    background-color: #2B1BDA;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
}
/* ==================================== */
/*        MEDIA QUERY (Max 450px)      */
/* ==================================== */

@media (max-width: 450px) { 
.navbar{
    height:auto;
    padding:15px 10px;
    flex-direction: column; 
    align-items: flex-start;
    padding: 20px;
    justify-content:space-between;
}
.logo-container{
    margin-left:0;
    margin-bottom:0;
}
.logo-placeholder{
    width:160px;
    height:160px;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: 40px;
    border-radius:50%;
}
.logo-placeholder img{
    width: 150px;
    height:150px;
}
.nav-links ul{
        display: flex;
        flex-direction: column; 
        gap: 10px;
        margin-left: 225px;
        margin-top: -175px;
        margin-bottom: -30px;
        padding-left: 20px;
}
.nav-links li a{
    font-size:25px;
    color:#F1E9E2;
    text-decoration:underline;
}
.content-section{
    flex-direction:column;
    max-width:100%;
}
.image-container,.text-container{
    flex:none;
    max-width:100%;
}
.image-container{
    height: 500px;
}
.image-container img{
  width: 800px;
}
.text-container{
    padding:20px;
    margin-top:0;
    text-align:left;
}
.title{
    font-size:32px;
}
.description{
    font-size:24px;
    color: #000;
}
.cartes-container{
        flex-direction: column;
        align-items: center;
        gap: 25px;
         height: 1800px;
    }
.carte{
        width: 100%;
        max-width: 400px;
    }
.titre{
    font-size: 29px;
}
.description{
    font-size: 22px;
    color: #666;
}
.actualites-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
    
.carte-actu {
    width: 100%;
    max-width: 400px;
}
.section-contact-newsletter {
    flex-direction: column; 
    align-items: center;
    padding: 30px 20px;
}

.contact-info,
.newsletter-form-container {
    flex-basis: 100%; 
    width: 90%;
    max-width: 400px; 
    margin-bottom: 30px; 
    text-align: left; 
}
.contact-info p {
    text-align: left;
}
    
.titre-atelier {
    text-align: left;
}
}
